@keyframes rachel {
    0% {
        left: -500px;
    }
    100% {
        left: 0px;
    }
}

h1{
    position: relative;
    animation-name: rachel;
    animation-duration: 2s;
}

.main-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}